<style>
    footer {
      background-color: blue;
      color: white;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  </style>
  
  <footer>
    <div class="container">
      <p>&copy; 2023 FILE UPLOADER. All rights reserved with Mohith.</p>
    </div>
  </footer>
  